body {
    background-color: #6db1ff;
    background: url(웹배경.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    color: rgb(0, 0, 0);
    height: 100vh;
}


#diary-entries {
    display: flex;
    justify-content: center;
    align-items: center;
}

h1, h2, h3, h4 {
    display: flex;
    justify-content: center;
    align-items: center;
}


.container {
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 400px;
    max-width: 100%;
}



form {
    display: flex;
    flex-direction: column;
}

input, textarea {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

#entries-list {
    list-style-type: none;
    padding: 0;
}

#entries-list li {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    margin-bottom: 10px;
    position: relative;
}

.button-container {
    display: flex;
    justify-content: space-between;
}

.view-btn, .delete-btn {
    padding: 5px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.view-btn {
    background-color: green;
    color: white;
}

.view-btn:hover {
    background-color: darkgreen;
}

.delete-btn {
    background-color: red;
    color: white;
}

.delete-btn:hover {
    background-color: darkred;
}

